@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black !important;
}

.container {
  background-image: url("/img/image2.svg"), url("/img/image1.svg");
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
  min-height: 50%;
  display: flex !important;
  background: white;
  position: relative;
}

.wrapper-body {
  margin: 29px 37px 0 36px;
  width: 100%;
  min-height: auto;
  padding-bottom: 20px;
}

.vote-bar {
  background: #232b3d;
  border-radius: 8px;
  padding: 1rem;
  color: white;
}

.progress {
  background-color: yellow;
}

h5.vote-head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

h1.vote-number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
}

.progress {
  background-color: #3b4558 !important;
  height: 10px !important;
  border-radius: 50px !important;
  margin-top: 25px;
}
.progress-bar {
  height: 10px;
  border-radius: 75px;
}

.card-image img {
  border-radius: 50%;
  margin-right: 28px;
}

.vote-name {
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

input.inputt {
  width: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  color: black;
}

.btn2 {
  margin-top: 4rem;
  background: #1e2a5a;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.8rem 4rem 0.8rem 4rem;
  /* margin-bottom:1rem; */
}
.btn2 a {
  color: white;
}

.btn2 a:hover {
  color: rgb(175, 171, 171);
}

.btn1 {
  margin-top: 4rem;
  margin-bottom: 5rem;
  background: #1e2a5a;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.8rem 4rem 0.8rem 4rem;
  /* margin-bottom:1rem; */
}
.btn1 a {
  color: white;
}

.btn1 a:hover {
  color: rgb(175, 171, 171);
}

/* leaderboard styling */
h1.result-header {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.leader--card {
  flex-direction: row !important;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  border-radius: 7px;
}

.leader--card2 {
  flex-direction: row !important;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  border-radius: 7px;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.leader--card2 .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leader--card2 .card-image img {
  width: 50px;
  height: 50px;
  margin: 0;
}

.leader--card2 .card-image h4 {
  margin-left: 10px;
  text-transform: uppercase;
}

.leader--card2 .leader--btn {
  margin-left: auto;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #1e2a5a;
  border: none;
}

h4.evicted-name {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #18bbb6;
}

.leader-board-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 400px) {
  .card-image h4 {
    font-size: 16px;
  }

  .leader--card2 .leader--btn {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .leader-board-wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}
